<%- include('partials/header') %>
    <% if (!user) { %>
        <!-- NOT LOGGED IN -->

        <div class="box">
            <h1>Welcome!</h1>
            <p>Please choose an option:</p>

            <a href="/signup">Sign Up</a><br>
            <a href="/login">Log In</a>
        </div>

    <% } else { %>
        <!-- LOGGED IN -->

        <div class="box">
            <h1>Hello, <%= user.username %>!</h1>

            <a href="/members">Go to Members Area</a><br>
            <a href="/logout">Log Out</a>
        </div>

    <% } %>

<%- include('partials/footer') %>