<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <% if (!user) { %>
        <!-- NOT LOGGED IN -->

        <div class="box">
            <h1>Welcome!</h1>
            <p>Please choose an option:</p>

            <a href="/signup">Sign Up</a><br>
            <a href="/login">Log In</a>
        </div>

    <% } else { %>
        <!-- LOGGED IN -->

        <div class="box">
            <h1>Hello, <%= user.username %>!</h1>

            <a href="/members">Go to Members Area</a><br>
            <a href="/logout">Log Out</a>
        </div>

    <% } %>

</body>
</html>